<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Euro</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
    </dict>
    <key>F</key>
    <dict>
      <key>M</key>
      <integer>-40</integer>
      <key>public.kern2.c</key>
      <integer>-120</integer>
    </dict>
    <key>J</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-40</integer>
    </dict>
    <key>K</key>
    <dict>
      <key>Eth</key>
      <integer>-25</integer>
      <key>public.kern2.B</key>
      <integer>-25</integer>
    </dict>
    <key>M</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-60</integer>
    </dict>
    <key>P</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-20</integer>
    </dict>
    <key>Z</key>
    <dict>
      <key>public.kern2.e</key>
      <integer>-35</integer>
    </dict>
    <key>a.ss01</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-75</integer>
    </dict>
    <key>abreve.ss02</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-100</integer>
    </dict>
    <key>ampersand</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-100</integer>
    </dict>
    <key>asterisk</key>
    <dict>
      <key>asterisk</key>
      <integer>85</integer>
      <key>public.kern2.H</key>
      <integer>25</integer>
      <key>public.kern2.O</key>
      <integer>0</integer>
      <key>public.kern2.T</key>
      <integer>25</integer>
      <key>public.kern2.e</key>
      <integer>-60</integer>
    </dict>
    <key>atilde.ss03</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
    </dict>
    <key>braceleft</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-25</integer>
    </dict>
    <key>braceright</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-10</integer>
    </dict>
    <key>bracketleft</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-25</integer>
    </dict>
    <key>comma</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-120</integer>
      <key>public.kern2.Y</key>
      <integer>-100</integer>
      <key>public.kern2.v</key>
      <integer>-55</integer>
    </dict>
    <key>e</key>
    <dict>
      <key>public.kern2.v</key>
      <integer>-20</integer>
    </dict>
    <key>equal</key>
    <dict>
      <key>one</key>
      <integer>-40</integer>
      <key>public.kern2.v</key>
      <integer>-40</integer>
    </dict>
    <key>exclamdown</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-25</integer>
      <key>public.kern2.Y</key>
      <integer>-25</integer>
    </dict>
    <key>four</key>
    <dict>
      <key>five</key>
      <integer>-25</integer>
      <key>public.kern2.T</key>
      <integer>-70</integer>
    </dict>
    <key>g</key>
    <dict>
      <key>j</key>
      <integer>30</integer>
    </dict>
    <key>g.ss02</key>
    <dict>
      <key>public.kern2.e</key>
      <integer>-10</integer>
    </dict>
    <key>germandbls</key>
    <dict>
      <key>public.kern2.f</key>
      <integer>-25</integer>
    </dict>
    <key>k</key>
    <dict>
      <key>public.kern2.c</key>
      <integer>-30</integer>
    </dict>
    <key>l.ss01</key>
    <dict>
      <key>public.kern2.v</key>
      <integer>-40</integer>
    </dict>
    <key>minus</key>
    <dict>
      <key>parenright</key>
      <integer>-50</integer>
    </dict>
    <key>one</key>
    <dict>
      <key>public.kern2.dot</key>
      <integer>-25</integer>
    </dict>
    <key>parenleft</key>
    <dict>
      <key>minus</key>
      <integer>-50</integer>
      <key>plus</key>
      <integer>-50</integer>
      <key>public.kern2.t</key>
      <integer>-15</integer>
    </dict>
    <key>period</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-100</integer>
      <key>public.kern2.V</key>
      <integer>-120</integer>
      <key>public.kern2.Y</key>
      <integer>-120</integer>
      <key>public.kern2.v</key>
      <integer>-45</integer>
      <key>quotedblright</key>
      <integer>-45</integer>
    </dict>
    <key>plus</key>
    <dict>
      <key>one</key>
      <integer>-40</integer>
      <key>parenright</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.6</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-25</integer>
      <key>public.kern2.T</key>
      <integer>-45</integer>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>J</key>
      <integer>-20</integer>
      <key>four</key>
      <integer>-45</integer>
      <key>public.kern2.B</key>
      <integer>-10</integer>
      <key>public.kern2.O</key>
      <integer>-30</integer>
      <key>public.kern2.T</key>
      <integer>-80</integer>
      <key>public.kern2.U</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-80</integer>
      <key>public.kern2.Y</key>
      <integer>-110</integer>
      <key>public.kern2.apostrophe</key>
      <integer>-65</integer>
      <key>public.kern2.f</key>
      <integer>-40</integer>
      <key>public.kern2.guion</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-6</integer>
      <key>public.kern2.t</key>
      <integer>-40</integer>
      <key>public.kern2.v</key>
      <integer>-60</integer>
      <key>public.kern2.ya</key>
      <integer>-20</integer>
      <key>public.kern2.yaj</key>
      <integer>-100</integer>
      <key>public.kern2.yar</key>
      <integer>-40</integer>
      <key>public.kern2.yat</key>
      <integer>-60</integer>
      <key>public.kern2.yey</key>
      <integer>-75</integer>
      <key>uni2D66</key>
      <integer>-25</integer>
    </dict>
    <key>public.kern1.B</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-45</integer>
      <key>public.kern2.B</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-30</integer>
      <key>public.kern2.V</key>
      <integer>-60</integer>
      <key>public.kern2.X</key>
      <integer>-60</integer>
      <key>public.kern2.Y</key>
      <integer>-70</integer>
      <key>public.kern2.apostrophe</key>
      <integer>-20</integer>
      <key>public.kern2.t</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.E</key>
    <dict>
      <key>public.kern2.Eopen</key>
      <integer>-20</integer>
      <key>public.kern2.O</key>
      <integer>-25</integer>
      <key>public.kern2.U</key>
      <integer>-10</integer>
      <key>public.kern2.t</key>
      <integer>-55</integer>
      <key>public.kern2.v</key>
      <integer>-60</integer>
      <key>public.kern2.yar</key>
      <integer>-45</integer>
      <key>public.kern2.yat</key>
      <integer>-45</integer>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-115</integer>
      <key>public.kern2.Eopen</key>
      <integer>-20</integer>
      <key>public.kern2.O</key>
      <integer>-60</integer>
      <key>public.kern2.U</key>
      <integer>-40</integer>
      <key>public.kern2.a</key>
      <integer>-90</integer>
      <key>public.kern2.a2</key>
      <integer>-125</integer>
      <key>public.kern2.a3</key>
      <integer>-100</integer>
      <key>public.kern2.e</key>
      <integer>-70</integer>
      <key>public.kern2.f</key>
      <integer>-60</integer>
      <key>public.kern2.g</key>
      <integer>-80</integer>
      <key>public.kern2.n</key>
      <integer>-60</integer>
      <key>public.kern2.o</key>
      <integer>-70</integer>
      <key>public.kern2.s</key>
      <integer>-60</integer>
      <key>public.kern2.t</key>
      <integer>-60</integer>
      <key>public.kern2.u</key>
      <integer>-60</integer>
      <key>public.kern2.v</key>
      <integer>-60</integer>
      <key>public.kern2.x</key>
      <integer>-80</integer>
      <key>public.kern2.z</key>
      <integer>-70</integer>
      <key>underscore</key>
      <integer>-100</integer>
    </dict>
    <key>public.kern1.G</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.H</key>
    <dict>
      <key>asterisk</key>
      <integer>25</integer>
    </dict>
    <key>public.kern1.I</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-25</integer>
    </dict>
    <key>public.kern1.J</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.a</key>
      <integer>-6</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.K</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-45</integer>
      <key>public.kern2.T</key>
      <integer>-40</integer>
      <key>public.kern2.U</key>
      <integer>-40</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
      <key>public.kern2.a3</key>
      <integer>-25</integer>
      <key>public.kern2.e</key>
      <integer>-40</integer>
      <key>public.kern2.o</key>
      <integer>-30</integer>
      <key>public.kern2.v</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>asterisk</key>
      <integer>-80</integer>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.B</key>
      <integer>-25</integer>
      <key>public.kern2.O</key>
      <integer>-40</integer>
      <key>public.kern2.T</key>
      <integer>-145</integer>
      <key>public.kern2.U</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <integer>-100</integer>
      <key>public.kern2.X</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-160</integer>
      <key>public.kern2.e</key>
      <integer>-40</integer>
      <key>public.kern2.f</key>
      <integer>-60</integer>
      <key>public.kern2.o</key>
      <integer>-40</integer>
      <key>public.kern2.saltillo</key>
      <integer>-86</integer>
      <key>quotesingle</key>
      <integer>-80</integer>
      <key>uni2D56</key>
      <integer>-100</integer>
    </dict>
    <key>public.kern1.M</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <integer>-50</integer>
      <key>public.kern2.Y</key>
      <integer>-60</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>asterisk</key>
      <integer>0</integer>
      <key>braceright</key>
      <integer>-25</integer>
      <key>bracketright</key>
      <integer>-25</integer>
      <key>one</key>
      <integer>-50</integer>
      <key>public.kern2.A</key>
      <integer>-55</integer>
      <key>public.kern2.B</key>
      <integer>-25</integer>
      <key>public.kern2.Eth</key>
      <integer>30</integer>
      <key>public.kern2.I</key>
      <integer>0</integer>
      <key>public.kern2.M</key>
      <integer>-10</integer>
      <key>public.kern2.S</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-30</integer>
      <key>public.kern2.V</key>
      <integer>-40</integer>
      <key>public.kern2.X</key>
      <integer>-65</integer>
      <key>public.kern2.Y</key>
      <integer>-60</integer>
      <key>public.kern2.Z</key>
      <integer>-40</integer>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.dot</key>
      <integer>-60</integer>
      <key>public.kern2.punto</key>
      <integer>-6</integer>
      <key>public.kern2.v</key>
      <integer>-6</integer>
      <key>public.kern2.x</key>
      <integer>-36</integer>
      <key>public.kern2.yath</key>
      <integer>-60</integer>
      <key>question</key>
      <integer>-30</integer>
      <key>quotedblright</key>
      <integer>-25</integer>
      <key>underscore</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.P</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-70</integer>
      <key>public.kern2.B</key>
      <integer>-25</integer>
      <key>public.kern2.U</key>
      <integer>-20</integer>
      <key>public.kern2.X</key>
      <integer>-40</integer>
      <key>public.kern2.Y</key>
      <integer>-36</integer>
      <key>public.kern2.Z</key>
      <integer>-30</integer>
      <key>public.kern2.a</key>
      <integer>-50</integer>
      <key>public.kern2.a3</key>
      <integer>-15</integer>
      <key>public.kern2.dot</key>
      <integer>-70</integer>
      <key>public.kern2.e</key>
      <integer>-20</integer>
      <key>public.kern2.g</key>
      <integer>-36</integer>
      <key>public.kern2.o</key>
      <integer>-25</integer>
      <key>public.kern2.punto</key>
      <integer>-80</integer>
    </dict>
    <key>public.kern1.R</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-30</integer>
      <key>public.kern2.B</key>
      <integer>-10</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-25</integer>
      <key>public.kern2.U</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-15</integer>
      <key>public.kern2.X</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-40</integer>
      <key>public.kern2.dot</key>
      <integer>-20</integer>
      <key>public.kern2.e</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.S</key>
    <dict>
      <key>one</key>
      <integer>-45</integer>
      <key>public.kern2.A</key>
      <integer>-35</integer>
      <key>public.kern2.T</key>
      <integer>-40</integer>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.X</key>
      <integer>-26</integer>
      <key>public.kern2.Z</key>
      <integer>-20</integer>
      <key>public.kern2.t</key>
      <integer>-40</integer>
      <key>public.kern2.v</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>B</key>
      <integer>-25</integer>
      <key>J</key>
      <integer>-40</integer>
      <key>M</key>
      <integer>-60</integer>
      <key>S</key>
      <integer>-20</integer>
      <key>public.kern2.6</key>
      <integer>-45</integer>
      <key>public.kern2.A</key>
      <integer>-80</integer>
      <key>public.kern2.O</key>
      <integer>-40</integer>
      <key>public.kern2.U</key>
      <integer>-40</integer>
      <key>public.kern2.a</key>
      <integer>-120</integer>
      <key>public.kern2.a2</key>
      <integer>-160</integer>
      <key>public.kern2.a3</key>
      <integer>-150</integer>
      <key>public.kern2.c</key>
      <integer>-150</integer>
      <key>public.kern2.dot</key>
      <integer>-80</integer>
      <key>public.kern2.e</key>
      <integer>-110</integer>
      <key>public.kern2.eopen</key>
      <integer>-150</integer>
      <key>public.kern2.f</key>
      <integer>-80</integer>
      <key>public.kern2.fraction</key>
      <integer>-180</integer>
      <key>public.kern2.g</key>
      <integer>-110</integer>
      <key>public.kern2.g1</key>
      <integer>-140</integer>
      <key>public.kern2.n</key>
      <integer>-80</integer>
      <key>public.kern2.o</key>
      <integer>-110</integer>
      <key>public.kern2.punto</key>
      <integer>-100</integer>
      <key>public.kern2.s</key>
      <integer>-100</integer>
      <key>public.kern2.t</key>
      <integer>-40</integer>
      <key>public.kern2.u</key>
      <integer>-80</integer>
      <key>public.kern2.v</key>
      <integer>-90</integer>
      <key>public.kern2.x</key>
      <integer>-100</integer>
      <key>public.kern2.yar</key>
      <integer>-60</integer>
      <key>public.kern2.yat</key>
      <integer>-65</integer>
      <key>public.kern2.z</key>
      <integer>-90</integer>
      <key>space</key>
      <integer>-40</integer>
      <key>underscore</key>
      <integer>-100</integer>
      <key>uni2D44</key>
      <integer>-80</integer>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-25</integer>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
      <key>public.kern2.t</key>
      <integer>-25</integer>
      <key>public.kern2.v</key>
      <integer>-25</integer>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>J</key>
      <integer>-20</integer>
      <key>M</key>
      <integer>-50</integer>
      <key>j</key>
      <integer>-10</integer>
      <key>public.kern2.A</key>
      <integer>-80</integer>
      <key>public.kern2.O</key>
      <integer>-50</integer>
      <key>public.kern2.U</key>
      <integer>-20</integer>
      <key>public.kern2.a</key>
      <integer>-80</integer>
      <key>public.kern2.a3</key>
      <integer>-60</integer>
      <key>public.kern2.c</key>
      <integer>-60</integer>
      <key>public.kern2.dot</key>
      <integer>-120</integer>
      <key>public.kern2.e</key>
      <integer>-70</integer>
      <key>public.kern2.f</key>
      <integer>-35</integer>
      <key>public.kern2.fraction</key>
      <integer>-150</integer>
      <key>public.kern2.g</key>
      <integer>-80</integer>
      <key>public.kern2.g1</key>
      <integer>-80</integer>
      <key>public.kern2.guion</key>
      <integer>-25</integer>
      <key>public.kern2.n</key>
      <integer>-60</integer>
      <key>public.kern2.o</key>
      <integer>-80</integer>
      <key>public.kern2.punto</key>
      <integer>-120</integer>
      <key>public.kern2.t</key>
      <integer>-60</integer>
      <key>public.kern2.u</key>
      <integer>-60</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
      <key>public.kern2.x</key>
      <integer>-50</integer>
      <key>public.kern2.yar</key>
      <integer>-40</integer>
      <key>public.kern2.yat</key>
      <integer>-40</integer>
      <key>public.kern2.yey</key>
      <integer>-60</integer>
      <key>public.kern2.z</key>
      <integer>-50</integer>
      <key>s</key>
      <integer>-70</integer>
      <key>underscore</key>
      <integer>-100</integer>
      <key>uni2D3E</key>
      <integer>-40</integer>
      <key>uni2D46</key>
      <integer>-40</integer>
      <key>uni2D48</key>
      <integer>-80</integer>
    </dict>
    <key>public.kern1.X</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-60</integer>
      <key>public.kern2.S</key>
      <integer>-10</integer>
      <key>public.kern2.U</key>
      <integer>-40</integer>
      <key>public.kern2.a</key>
      <integer>-30</integer>
      <key>public.kern2.e</key>
      <integer>-45</integer>
      <key>public.kern2.f</key>
      <integer>-40</integer>
      <key>public.kern2.g</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-40</integer>
      <key>public.kern2.s</key>
      <integer>-20</integer>
      <key>public.kern2.t</key>
      <integer>-40</integer>
      <key>public.kern2.u</key>
      <integer>-20</integer>
      <key>public.kern2.v</key>
      <integer>-60</integer>
      <key>public.kern2.x</key>
      <integer>-6</integer>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>J</key>
      <integer>-40</integer>
      <key>atilde.ss03</key>
      <integer>-70</integer>
      <key>comma</key>
      <integer>-100</integer>
      <key>eight</key>
      <integer>-60</integer>
      <key>public.kern2.A</key>
      <integer>-110</integer>
      <key>public.kern2.M</key>
      <integer>-60</integer>
      <key>public.kern2.O</key>
      <integer>-80</integer>
      <key>public.kern2.U</key>
      <integer>-40</integer>
      <key>public.kern2.Z</key>
      <integer>-20</integer>
      <key>public.kern2.a</key>
      <integer>-120</integer>
      <key>public.kern2.a2</key>
      <integer>-145</integer>
      <key>public.kern2.a3</key>
      <integer>-120</integer>
      <key>public.kern2.e</key>
      <integer>-100</integer>
      <key>public.kern2.f</key>
      <integer>-70</integer>
      <key>public.kern2.g</key>
      <integer>-110</integer>
      <key>public.kern2.n</key>
      <integer>-60</integer>
      <key>public.kern2.o</key>
      <integer>-90</integer>
      <key>public.kern2.punto</key>
      <integer>-120</integer>
      <key>public.kern2.s</key>
      <integer>-80</integer>
      <key>public.kern2.t</key>
      <integer>-60</integer>
      <key>public.kern2.u</key>
      <integer>-70</integer>
      <key>public.kern2.v</key>
      <integer>-40</integer>
      <key>public.kern2.x</key>
      <integer>-60</integer>
      <key>public.kern2.z</key>
      <integer>-60</integer>
      <key>space</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.Z</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-25</integer>
      <key>public.kern2.O</key>
      <integer>-30</integer>
      <key>public.kern2.U</key>
      <integer>-20</integer>
      <key>public.kern2.f</key>
      <integer>-20</integer>
      <key>public.kern2.t</key>
      <integer>-40</integer>
      <key>public.kern2.z</key>
      <integer>-16</integer>
    </dict>
    <key>public.kern1.a</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-80</integer>
      <key>public.kern2.V</key>
      <integer>-60</integer>
      <key>public.kern2.Y</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.a3</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-120</integer>
      <key>public.kern2.V</key>
      <integer>-60</integer>
      <key>public.kern2.Y</key>
      <integer>-100</integer>
      <key>public.kern2.a3</key>
      <integer>-25</integer>
      <key>public.kern2.t</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.apostrophe</key>
    <dict>
      <key>J</key>
      <integer>-10</integer>
      <key>public.kern2.A</key>
      <integer>-80</integer>
      <key>public.kern2.O</key>
      <integer>-40</integer>
      <key>public.kern2.a</key>
      <integer>-60</integer>
      <key>public.kern2.e</key>
      <integer>-70</integer>
      <key>public.kern2.g</key>
      <integer>-70</integer>
      <key>public.kern2.o</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.c</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-90</integer>
      <key>public.kern2.V</key>
      <integer>-40</integer>
      <key>public.kern2.Y</key>
      <integer>-70</integer>
      <key>public.kern2.e</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.cir</key>
    <dict>
      <key>public.kern2.tri</key>
      <integer>-75</integer>
    </dict>
    <key>public.kern1.d2</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>-125</integer>
      <key>public.kern2.e</key>
      <integer>-15</integer>
    </dict>
    <key>public.kern1.dcaron</key>
    <dict>
      <key>public.kern2.B</key>
      <integer>80</integer>
      <key>public.kern2.H</key>
      <integer>80</integer>
      <key>public.kern2.a</key>
      <integer>-100</integer>
    </dict>
    <key>public.kern1.dot</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-80</integer>
    </dict>
    <key>public.kern1.e</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-100</integer>
      <key>public.kern2.V</key>
      <integer>-60</integer>
      <key>public.kern2.X</key>
      <integer>-45</integer>
      <key>public.kern2.Y</key>
      <integer>-80</integer>
      <key>public.kern2.a</key>
      <integer>-16</integer>
      <key>public.kern2.x</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1.eszett</key>
    <dict>
      <key>public.kern2.a2</key>
      <integer>8</integer>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-60</integer>
      <key>public.kern2.a</key>
      <integer>-50</integer>
      <key>public.kern2.c</key>
      <integer>-40</integer>
      <key>public.kern2.dot</key>
      <integer>-40</integer>
      <key>public.kern2.e</key>
      <integer>-40</integer>
      <key>public.kern2.o</key>
      <integer>-40</integer>
      <key>public.kern2.s</key>
      <integer>-20</integer>
      <key>underscore</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.fraction</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-150</integer>
    </dict>
    <key>public.kern1.g</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-80</integer>
      <key>public.kern2.V</key>
      <integer>-60</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
      <key>public.kern2.a</key>
      <integer>-5</integer>
      <key>public.kern2.e</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.g1</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-120</integer>
      <key>public.kern2.V</key>
      <integer>-40</integer>
      <key>public.kern2.a3</key>
      <integer>-25</integer>
    </dict>
    <key>public.kern1.guion</key>
    <dict>
      <key>one</key>
      <integer>-50</integer>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-25</integer>
      <key>public.kern2.n</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.k</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-100</integer>
      <key>public.kern2.V</key>
      <integer>-60</integer>
      <key>public.kern2.X</key>
      <integer>-16</integer>
      <key>public.kern2.Y</key>
      <integer>-80</integer>
      <key>public.kern2.e</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-6</integer>
    </dict>
    <key>public.kern1.l</key>
    <dict>
      <key>asterisk</key>
      <integer>-50</integer>
      <key>public.kern2.T</key>
      <integer>-60</integer>
      <key>public.kern2.V</key>
      <integer>-40</integer>
      <key>public.kern2.a</key>
      <integer>-25</integer>
      <key>public.kern2.e</key>
      <integer>-25</integer>
      <key>public.kern2.f</key>
      <integer>-40</integer>
      <key>public.kern2.l</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-15</integer>
      <key>public.kern2.t</key>
      <integer>15</integer>
      <key>public.kern2.u</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1.l2</key>
    <dict>
      <key>public.kern2.a2</key>
      <integer>-15</integer>
      <key>public.kern2.saltillo</key>
      <integer>-60</integer>
      <key>public.kern2.t</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-80</integer>
      <key>public.kern2.V</key>
      <integer>-60</integer>
      <key>public.kern2.Y</key>
      <integer>-70</integer>
      <key>public.kern2.u</key>
      <integer>0</integer>
      <key>public.kern2.v</key>
      <integer>-6</integer>
      <key>quotesingle</key>
      <integer>-25</integer>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>asterisk</key>
      <integer>-60</integer>
      <key>parenright</key>
      <integer>-10</integer>
      <key>public.kern2.A</key>
      <integer>-6</integer>
      <key>public.kern2.T</key>
      <integer>-130</integer>
      <key>public.kern2.V</key>
      <integer>-75</integer>
      <key>public.kern2.X</key>
      <integer>-40</integer>
      <key>public.kern2.Y</key>
      <integer>-90</integer>
      <key>public.kern2.Z</key>
      <integer>-40</integer>
      <key>public.kern2.b</key>
      <integer>-5</integer>
      <key>public.kern2.dp</key>
      <integer>-10</integer>
      <key>public.kern2.f</key>
      <integer>-20</integer>
      <key>public.kern2.t</key>
      <integer>-25</integer>
      <key>public.kern2.v</key>
      <integer>-25</integer>
      <key>public.kern2.x</key>
      <integer>-35</integer>
      <key>question</key>
      <integer>-70</integer>
      <key>quoteright</key>
      <integer>-50</integer>
      <key>registered</key>
      <integer>-50</integer>
      <key>uni2117</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.p</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-120</integer>
      <key>public.kern2.V</key>
      <integer>-60</integer>
      <key>public.kern2.X</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-100</integer>
      <key>public.kern2.a</key>
      <integer>5</integer>
      <key>public.kern2.x</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.punto</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-6</integer>
      <key>public.kern2.zero</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.quote</key>
    <dict>
      <key>public.kern2.e</key>
      <integer>-80</integer>
      <key>public.kern2.o</key>
      <integer>-80</integer>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>J</key>
      <integer>-40</integer>
      <key>public.kern2.A</key>
      <integer>-60</integer>
      <key>public.kern2.T</key>
      <integer>-100</integer>
      <key>public.kern2.X</key>
      <integer>-70</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
      <key>public.kern2.a</key>
      <integer>-56</integer>
      <key>public.kern2.a2</key>
      <integer>-45</integer>
      <key>public.kern2.a3</key>
      <integer>-15</integer>
      <key>public.kern2.c</key>
      <integer>-25</integer>
      <key>public.kern2.e</key>
      <integer>-20</integer>
      <key>public.kern2.g</key>
      <integer>-40</integer>
      <key>public.kern2.o</key>
      <integer>-36</integer>
      <key>public.kern2.s</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.s</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-100</integer>
      <key>public.kern2.V</key>
      <integer>-70</integer>
      <key>public.kern2.X</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-80</integer>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.c</key>
      <integer>-10</integer>
      <key>public.kern2.e</key>
      <integer>-10</integer>
      <key>public.kern2.t</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.t</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-90</integer>
      <key>public.kern2.V</key>
      <integer>-60</integer>
      <key>public.kern2.Y</key>
      <integer>-60</integer>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.a2</key>
      <integer>-20</integer>
      <key>public.kern2.e</key>
      <integer>-25</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.t2</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-120</integer>
      <key>public.kern2.a</key>
      <integer>-50</integer>
      <key>public.kern2.a2</key>
      <integer>-50</integer>
      <key>public.kern2.o</key>
      <integer>-45</integer>
    </dict>
    <key>public.kern1.thorn</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-40</integer>
      <key>public.kern2.O</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.tri</key>
    <dict>
      <key>public.kern2.cir</key>
      <integer>-75</integer>
      <key>public.kern2.v</key>
      <integer>-110</integer>
    </dict>
    <key>public.kern1.u</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-80</integer>
      <key>public.kern2.V</key>
      <integer>-60</integer>
      <key>public.kern2.Y</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>comma</key>
      <integer>-55</integer>
      <key>d.ss01</key>
      <integer>-40</integer>
      <key>lslash.ss01</key>
      <integer>-15</integer>
      <key>public.kern2.A</key>
      <integer>-60</integer>
      <key>public.kern2.M</key>
      <integer>-20</integer>
      <key>public.kern2.O</key>
      <integer>-6</integer>
      <key>public.kern2.T</key>
      <integer>-90</integer>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.X</key>
      <integer>-70</integer>
      <key>public.kern2.Y</key>
      <integer>-40</integer>
      <key>public.kern2.a</key>
      <integer>-45</integer>
      <key>public.kern2.c</key>
      <integer>-30</integer>
      <key>public.kern2.e</key>
      <integer>-35</integer>
      <key>public.kern2.o</key>
      <integer>-35</integer>
      <key>public.kern2.punto</key>
      <integer>-45</integer>
      <key>public.kern2.tri</key>
      <integer>-115</integer>
    </dict>
    <key>public.kern1.x</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-36</integer>
      <key>public.kern2.T</key>
      <integer>-100</integer>
      <key>public.kern2.V</key>
      <integer>-50</integer>
      <key>public.kern2.Y</key>
      <integer>-60</integer>
      <key>public.kern2.a</key>
      <integer>-25</integer>
      <key>public.kern2.e</key>
      <integer>-40</integer>
      <key>public.kern2.o</key>
      <integer>-35</integer>
      <key>public.kern2.t</key>
      <integer>-15</integer>
    </dict>
    <key>public.kern1.ya</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.yar</key>
      <integer>-25</integer>
      <key>public.kern2.yat</key>
      <integer>-60</integer>
      <key>public.kern2.yath</key>
      <integer>-45</integer>
      <key>public.kern2.yey</key>
      <integer>-45</integer>
      <key>uni2D56</key>
      <integer>-60</integer>
      <key>uni2D6F</key>
      <integer>-45</integer>
    </dict>
    <key>public.kern1.yaf</key>
    <dict>
      <key>public.kern2.yar</key>
      <integer>-45</integer>
      <key>public.kern2.yey</key>
      <integer>-45</integer>
      <key>uni2D3E</key>
      <integer>-20</integer>
      <key>uni2D46</key>
      <integer>-20</integer>
      <key>uni2D48</key>
      <integer>-60</integer>
      <key>uni2D49</key>
      <integer>-25</integer>
      <key>uni2D58</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.yaj</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-100</integer>
      <key>public.kern2.yar</key>
      <integer>-35</integer>
      <key>public.kern2.yat</key>
      <integer>-25</integer>
      <key>public.kern2.yath</key>
      <integer>-35</integer>
      <key>uni2D4C</key>
      <integer>-15</integer>
      <key>uni2D50</key>
      <integer>-25</integer>
      <key>uni2D66</key>
      <integer>-25</integer>
    </dict>
    <key>public.kern1.yar</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-40</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-40</integer>
      <key>public.kern2.punto</key>
      <integer>-100</integer>
      <key>public.kern2.ya</key>
      <integer>-35</integer>
      <key>public.kern2.yaf</key>
      <integer>-45</integer>
      <key>public.kern2.yaj</key>
      <integer>-35</integer>
      <key>public.kern2.yath</key>
      <integer>-60</integer>
      <key>public.kern2.yay</key>
      <integer>-45</integer>
      <key>uni2D4B</key>
      <integer>-60</integer>
      <key>uni2D63</key>
      <integer>-25</integer>
      <key>uni2D6F</key>
      <integer>-25</integer>
    </dict>
    <key>public.kern1.yash</key>
    <dict>
      <key>public.kern2.yey</key>
      <integer>-25</integer>
      <key>uni2D48</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.yat</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-60</integer>
      <key>public.kern2.T</key>
      <integer>-65</integer>
      <key>public.kern2.V</key>
      <integer>-40</integer>
      <key>public.kern2.ya</key>
      <integer>-80</integer>
      <key>public.kern2.yaj</key>
      <integer>-15</integer>
      <key>public.kern2.yath</key>
      <integer>-65</integer>
      <key>public.kern2.yay</key>
      <integer>-60</integer>
      <key>uni2D63</key>
      <integer>-25</integer>
      <key>uni2D65</key>
      <integer>-25</integer>
    </dict>
    <key>public.kern1.yath</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-60</integer>
      <key>public.kern2.ya</key>
      <integer>-45</integer>
      <key>public.kern2.yaj</key>
      <integer>-35</integer>
      <key>public.kern2.yar</key>
      <integer>-60</integer>
      <key>public.kern2.yat</key>
      <integer>-65</integer>
      <key>public.kern2.yey</key>
      <integer>-100</integer>
      <key>public.kern2.yu</key>
      <integer>-35</integer>
      <key>uni2D3E</key>
      <integer>-40</integer>
      <key>uni2D46</key>
      <integer>-40</integer>
      <key>uni2D48</key>
      <integer>-100</integer>
      <key>uni2D49</key>
      <integer>-40</integer>
      <key>uni2D58</key>
      <integer>-40</integer>
      <key>uni2D65</key>
      <integer>-20</integer>
      <key>uni2D66</key>
      <integer>-80</integer>
    </dict>
    <key>public.kern1.yay</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-85</integer>
      <key>public.kern2.ya</key>
      <integer>-145</integer>
      <key>public.kern2.yar</key>
      <integer>-45</integer>
      <key>public.kern2.yath</key>
      <integer>-45</integer>
      <key>public.kern2.yey</key>
      <integer>-80</integer>
      <key>uni2D49</key>
      <integer>-35</integer>
      <key>uni2D5C</key>
      <integer>-25</integer>
      <key>uni2D66</key>
      <integer>-25</integer>
    </dict>
    <key>public.kern1.yey</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-75</integer>
      <key>public.kern2.V</key>
      <integer>-60</integer>
      <key>public.kern2.ya</key>
      <integer>-45</integer>
      <key>public.kern2.yaf</key>
      <integer>-45</integer>
      <key>public.kern2.yath</key>
      <integer>-100</integer>
      <key>public.kern2.yay</key>
      <integer>-75</integer>
    </dict>
    <key>public.kern1.yu</key>
    <dict>
      <key>public.kern2.yath</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1.z</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.zero</key>
    <dict>
      <key>one</key>
      <integer>-20</integer>
      <key>period</key>
      <integer>-30</integer>
      <key>two</key>
      <integer>-25</integer>
    </dict>
    <key>question</key>
    <dict>
      <key>questiondown</key>
      <integer>-50</integer>
    </dict>
    <key>questiondown</key>
    <dict>
      <key>question</key>
      <integer>-50</integer>
    </dict>
    <key>quotedblleft</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-25</integer>
      <key>public.kern2.a</key>
      <integer>-85</integer>
      <key>public.kern2.o</key>
      <integer>-85</integer>
      <key>public.kern2.punto</key>
      <integer>-45</integer>
    </dict>
    <key>quotesingle</key>
    <dict>
      <key>public.kern2.e</key>
      <integer>-30</integer>
      <key>s</key>
      <integer>-30</integer>
    </dict>
    <key>r</key>
    <dict>
      <key>M</key>
      <integer>-40</integer>
      <key>public.kern2.V</key>
      <integer>-60</integer>
    </dict>
    <key>registered</key>
    <dict>
      <key>public.kern2.e</key>
      <integer>-50</integer>
    </dict>
    <key>seven</key>
    <dict>
      <key>eight</key>
      <integer>-45</integer>
    </dict>
    <key>six</key>
    <dict>
      <key>nine</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
    </dict>
    <key>space</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-40</integer>
      <key>public.kern2.U</key>
      <integer>-35</integer>
      <key>public.kern2.Y</key>
      <integer>-60</integer>
      <key>quotedblleft</key>
      <integer>-120</integer>
    </dict>
    <key>three</key>
    <dict>
      <key>one</key>
      <integer>-60</integer>
    </dict>
    <key>underscore</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-100</integer>
      <key>public.kern2.V</key>
      <integer>-100</integer>
    </dict>
    <key>uni1E9E</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-65</integer>
    </dict>
    <key>uni2D3D</key>
    <dict>
      <key>public.kern2.yar</key>
      <integer>-50</integer>
      <key>public.kern2.yey</key>
      <integer>-60</integer>
      <key>uni2D48</key>
      <integer>-60</integer>
      <key>uni2D58</key>
      <integer>-20</integer>
    </dict>
    <key>uni2D3E</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-80</integer>
      <key>public.kern2.yath</key>
      <integer>-100</integer>
    </dict>
    <key>uni2D43</key>
    <dict>
      <key>uni2D49</key>
      <integer>-60</integer>
    </dict>
    <key>uni2D44</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-80</integer>
      <key>uni2D6F</key>
      <integer>-15</integer>
    </dict>
    <key>uni2D46</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-40</integer>
      <key>public.kern2.yaf</key>
      <integer>-20</integer>
      <key>public.kern2.yath</key>
      <integer>-40</integer>
    </dict>
    <key>uni2D47</key>
    <dict>
      <key>public.kern2.yar</key>
      <integer>-45</integer>
      <key>uni2D48</key>
      <integer>-60</integer>
    </dict>
    <key>uni2D48</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-80</integer>
      <key>public.kern2.yaf</key>
      <integer>-60</integer>
      <key>public.kern2.yath</key>
      <integer>-100</integer>
    </dict>
    <key>uni2D49</key>
    <dict>
      <key>public.kern2.yar</key>
      <integer>-35</integer>
      <key>uni2D59</key>
      <integer>-40</integer>
      <key>uni2D5C</key>
      <integer>-50</integer>
    </dict>
    <key>uni2D4B</key>
    <dict>
      <key>public.kern2.yar</key>
      <integer>-60</integer>
    </dict>
    <key>uni2D4C</key>
    <dict>
      <key>public.kern2.yaj</key>
      <integer>-15</integer>
    </dict>
    <key>uni2D50</key>
    <dict>
      <key>public.kern2.yaj</key>
      <integer>-25</integer>
    </dict>
    <key>uni2D56</key>
    <dict>
      <key>public.kern2.ya</key>
      <integer>-60</integer>
    </dict>
    <key>uni2D58</key>
    <dict>
      <key>public.kern2.yaf</key>
      <integer>-20</integer>
      <key>public.kern2.yath</key>
      <integer>-40</integer>
    </dict>
    <key>uni2D5E</key>
    <dict>
      <key>public.kern2.yat</key>
      <integer>-45</integer>
      <key>public.kern2.yath</key>
      <integer>-15</integer>
    </dict>
    <key>uni2D63</key>
    <dict>
      <key>public.kern2.yar</key>
      <integer>-25</integer>
      <key>public.kern2.yat</key>
      <integer>-25</integer>
    </dict>
    <key>uni2D64</key>
    <dict>
      <key>public.kern2.ya</key>
      <integer>-100</integer>
      <key>public.kern2.yar</key>
      <integer>-15</integer>
      <key>public.kern2.yat</key>
      <integer>-25</integer>
      <key>public.kern2.yath</key>
      <integer>-45</integer>
    </dict>
    <key>uni2D65</key>
    <dict>
      <key>public.kern2.yar</key>
      <integer>-10</integer>
      <key>public.kern2.yat</key>
      <integer>-25</integer>
    </dict>
    <key>uni2D6F</key>
    <dict>
      <key>public.kern2.ya</key>
      <integer>-45</integer>
      <key>public.kern2.yar</key>
      <integer>-25</integer>
      <key>uni2D44</key>
      <integer>-15</integer>
    </dict>
    <key>y</key>
    <dict>
      <key>public.kern2.o</key>
      <integer>-40</integer>
    </dict>
  </dict>
</plist>
