<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.6</key>
    <array>
      <string>six</string>
      <string>eight</string>
      <string>nine</string>
    </array>
    <key>public.kern1.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>uni2D37</string>
      <string>uni2D60</string>
      <string>backslash</string>
    </array>
    <key>public.kern1.B</key>
    <array>
      <string>B</string>
    </array>
    <key>public.kern1.C</key>
    <array>
      <string>Ccedilla</string>
    </array>
    <key>public.kern1.E</key>
    <array>
      <string>AE</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>uni1EBC</string>
      <string>OE</string>
      <string>Eacute_period_E.liga.dlig</string>
      <string>uni2D39</string>
      <string>uni2D5F</string>
    </array>
    <key>public.kern1.Eopen</key>
    <array>
      <string>uni0190</string>
    </array>
    <key>public.kern1.F</key>
    <array>
      <string>F</string>
    </array>
    <key>public.kern1.G</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Cdotaccent</string>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcaron</string>
      <string>uni0122</string>
      <string>Gdotaccent</string>
      <string>uni1E20</string>
      <string>Cacute.loclPLK</string>
    </array>
    <key>public.kern1.H</key>
    <array>
      <string>H</string>
      <string>Hbar</string>
      <string>uni1E24</string>
      <string>Lcaron</string>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>uni0145</string>
      <string>Ntilde</string>
      <string>Eng</string>
      <string>uni0145.loclMAH</string>
      <string>Nacute.loclPLK</string>
      <string>d</string>
      <string>dcroat</string>
      <string>uni1E0D</string>
      <string>uni2D3A</string>
      <string>uni2D4D</string>
      <string>uni2D4D.ss01</string>
      <string>one</string>
    </array>
    <key>public.kern1.I</key>
    <array>
      <string>I</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Itilde</string>
    </array>
    <key>public.kern1.J</key>
    <array>
      <string>IJ</string>
      <string>Iacute_J.loclNLD</string>
      <string>J</string>
      <string>uni004A0301</string>
      <string>I_J.loclNLD</string>
    </array>
    <key>public.kern1.K</key>
    <array>
      <string>K</string>
      <string>uni0136</string>
    </array>
    <key>public.kern1.L</key>
    <array>
      <string>L</string>
      <string>Lacute</string>
      <string>uni013B</string>
      <string>Ldot</string>
      <string>Lslash</string>
      <string>uni013B.loclMAH</string>
    </array>
    <key>public.kern1.M</key>
    <array>
      <string>M</string>
    </array>
    <key>public.kern1.O</key>
    <array>
      <string>D</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>Eth</string>
      <string>uni018F</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Otilde</string>
      <string>Q</string>
      <string>Oacute.loclPLK</string>
    </array>
    <key>public.kern1.Oslash</key>
    <array>
      <string>Oslash</string>
    </array>
    <key>public.kern1.P</key>
    <array>
      <string>P</string>
    </array>
    <key>public.kern1.R</key>
    <array>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>uni0156</string>
    </array>
    <key>public.kern1.S</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>uni0218</string>
      <string>uni1E62</string>
      <string>Sacute.loclPLK</string>
      <string>dollar</string>
    </array>
    <key>public.kern1.T</key>
    <array>
      <string>T</string>
      <string>Tbar</string>
      <string>Tcaron</string>
      <string>uni0162</string>
      <string>uni021A</string>
      <string>uni1E6C</string>
      <string>T_T.liga</string>
    </array>
    <key>public.kern1.TM</key>
    <array>
      <string>registered</string>
      <string>trademark</string>
    </array>
    <key>public.kern1.U</key>
    <array>
      <string>U</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Utilde</string>
    </array>
    <key>public.kern1.V</key>
    <array>
      <string>V</string>
      <string>uni0194</string>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
      <string>uni2D38</string>
      <string>slash</string>
    </array>
    <key>public.kern1.X</key>
    <array>
      <string>X</string>
    </array>
    <key>public.kern1.Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
      <string>uni1EF8</string>
      <string>yen</string>
    </array>
    <key>public.kern1.Z</key>
    <array>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
      <string>uni1E92</string>
      <string>Zacute.loclPLK</string>
    </array>
    <key>public.kern1.a</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>atilde</string>
    </array>
    <key>public.kern1.a3</key>
    <array>
      <string>q.ss01</string>
      <string>a.ss02</string>
      <string>aacute.ss02</string>
      <string>abreve.ss02</string>
      <string>acircumflex.ss02</string>
      <string>adieresis.ss02</string>
      <string>agrave.ss02</string>
      <string>amacron.ss02</string>
      <string>aogonek.ss02</string>
      <string>aring.ss02</string>
      <string>atilde.ss02</string>
      <string>a.ss03</string>
      <string>aacute.ss03</string>
      <string>abreve.ss03</string>
      <string>acircumflex.ss03</string>
      <string>adieresis.ss03</string>
      <string>agrave.ss03</string>
      <string>amacron.ss03</string>
      <string>aogonek.ss03</string>
      <string>aring.ss03</string>
      <string>atilde.ss03</string>
    </array>
    <key>public.kern1.ae</key>
    <array>
      <string>ae</string>
    </array>
    <key>public.kern1.apostrophe</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern1.c</key>
    <array>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>cdotaccent</string>
      <string>cacute.loclPLK</string>
    </array>
    <key>public.kern1.cir</key>
    <array>
      <string>Pintadera02</string>
      <string>pintadera04</string>
    </array>
    <key>public.kern1.d2</key>
    <array>
      <string>a.ss01</string>
      <string>aacute.ss01</string>
      <string>abreve.ss01</string>
      <string>acircumflex.ss01</string>
      <string>adieresis.ss01</string>
      <string>agrave.ss01</string>
      <string>amacron.ss01</string>
      <string>aogonek.ss01</string>
      <string>aring.ss01</string>
      <string>atilde.ss01</string>
      <string>d.ss01</string>
      <string>dcroat.ss01</string>
    </array>
    <key>public.kern1.dcaron</key>
    <array>
      <string>dcaron</string>
      <string>dcaron.ss01</string>
    </array>
    <key>public.kern1.dot</key>
    <array>
      <string>comma</string>
    </array>
    <key>public.kern1.e</key>
    <array>
      <string>e</string>
      <string>eacute</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>uni1EBD</string>
      <string>oe</string>
      <string>eacute_point_e.dlig</string>
    </array>
    <key>public.kern1.eopen</key>
    <array>
      <string>uni025B</string>
    </array>
    <key>public.kern1.eszett</key>
    <array>
      <string>germandbls</string>
    </array>
    <key>public.kern1.f</key>
    <array>
      <string>f</string>
      <string>f_f.liga</string>
    </array>
    <key>public.kern1.fraction</key>
    <array>
      <string>fraction</string>
    </array>
    <key>public.kern1.g</key>
    <array>
      <string>g</string>
      <string>gbreve</string>
      <string>gcaron</string>
      <string>uni0123</string>
      <string>gdotaccent</string>
      <string>uni1E21</string>
      <string>q</string>
    </array>
    <key>public.kern1.g1</key>
    <array>
      <string>g.ss02</string>
      <string>gbreve.ss02</string>
      <string>uni0123.ss02</string>
      <string>gdotaccent.ss02</string>
    </array>
    <key>public.kern1.guion</key>
    <array>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
    </array>
    <key>public.kern1.i</key>
    <array>
      <string>f_f_i.liga</string>
      <string>f_i.liga</string>
    </array>
    <key>public.kern1.idot</key>
    <array>
      <string>F_i.liga</string>
      <string>F_j.liga</string>
      <string>T_i.liga</string>
      <string>V_i.liga</string>
      <string>W_i.liga</string>
      <string>i</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>i.loclTRK</string>
      <string>igrave</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>itilde</string>
      <string>ij</string>
      <string>j</string>
    </array>
    <key>public.kern1.igual</key>
    <array>
      <string>equal</string>
      <string>notequal</string>
    </array>
    <key>public.kern1.k</key>
    <array>
      <string>k</string>
      <string>uni0137</string>
    </array>
    <key>public.kern1.l</key>
    <array>
      <string>l</string>
      <string>lacute</string>
      <string>lcaron</string>
      <string>uni013C</string>
      <string>lslash</string>
      <string>uni013C.loclMAH</string>
    </array>
    <key>public.kern1.l2</key>
    <array>
      <string>l.ss01</string>
      <string>lacute.ss01</string>
      <string>lcaron.ss01</string>
      <string>uni013C.ss01</string>
    </array>
    <key>public.kern1.n</key>
    <array>
      <string>T_h.liga</string>
      <string>h</string>
      <string>hbar</string>
      <string>uni1E25</string>
      <string>dotlessi</string>
      <string>m</string>
      <string>n</string>
      <string>nacute</string>
      <string>ncaron</string>
      <string>uni0146</string>
      <string>ntilde</string>
      <string>eng</string>
      <string>uni0146.loclMAH</string>
      <string>nacute.loclPLK</string>
    </array>
    <key>public.kern1.o</key>
    <array>
      <string>uni0259</string>
      <string>o</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>otilde</string>
      <string>oacute.loclPLK</string>
    </array>
    <key>public.kern1.oslash</key>
    <array>
      <string>oslash</string>
    </array>
    <key>public.kern1.p</key>
    <array>
      <string>b</string>
      <string>p</string>
      <string>thorn</string>
      <string>b.ss01</string>
      <string>thorn.ss01</string>
    </array>
    <key>public.kern1.punto</key>
    <array>
      <string>period</string>
    </array>
    <key>public.kern1.quote</key>
    <array>
      <string>quoteright</string>
    </array>
    <key>public.kern1.r</key>
    <array>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>uni0157</string>
      <string>uni1E5B</string>
    </array>
    <key>public.kern1.s</key>
    <array>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>uni0219</string>
      <string>uni1E63</string>
      <string>sacute.loclPLK</string>
    </array>
    <key>public.kern1.saltillo</key>
    <array>
      <string>uniA78B</string>
      <string>uniA78C</string>
    </array>
    <key>public.kern1.t</key>
    <array>
      <string>t</string>
      <string>tbar</string>
      <string>tcaron</string>
      <string>uni0163</string>
      <string>uni021B</string>
      <string>uni1E6D</string>
      <string>t.ss01</string>
      <string>tbar.ss01</string>
      <string>tcaron.ss01</string>
      <string>uni0163.ss01</string>
      <string>uni021B.ss01</string>
      <string>uni1E6D.ss01</string>
    </array>
    <key>public.kern1.t2</key>
    <array>
      <string>t.ss03</string>
      <string>tbar.ss03</string>
      <string>tcaron.ss03</string>
      <string>uni0163.ss03</string>
      <string>uni021B.ss03</string>
      <string>uni1E6D.ss03</string>
    </array>
    <key>public.kern1.thorn</key>
    <array>
      <string>Thorn</string>
    </array>
    <key>public.kern1.tri</key>
    <array>
      <string>Pintadera01</string>
      <string>pintadera05</string>
    </array>
    <key>public.kern1.u</key>
    <array>
      <string>u</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>utilde</string>
      <string>y.ss03</string>
      <string>yacute.ss03</string>
      <string>ycircumflex.ss03</string>
      <string>ydieresis.ss03</string>
      <string>ygrave.ss03</string>
    </array>
    <key>public.kern1.v</key>
    <array>
      <string>uni0263</string>
      <string>v</string>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ygrave</string>
      <string>uni1EF9</string>
    </array>
    <key>public.kern1.x</key>
    <array>
      <string>x</string>
    </array>
    <key>public.kern1.ya</key>
    <array>
      <string>uni2D30</string>
    </array>
    <key>public.kern1.yaf</key>
    <array>
      <string>uni2D3C</string>
      <string>uni2D4A</string>
      <string>uni2D4E</string>
    </array>
    <key>public.kern1.yaj</key>
    <array>
      <string>uni2D36</string>
    </array>
    <key>public.kern1.yar</key>
    <array>
      <string>uni2D31</string>
      <string>uni2D32</string>
      <string>uni2D40</string>
      <string>uni2D41</string>
      <string>uni2D54</string>
      <string>uni2D55</string>
      <string>uni2D59</string>
      <string>uni2D5A</string>
    </array>
    <key>public.kern1.yash</key>
    <array>
      <string>uni2D5B</string>
      <string>uni2D5E</string>
    </array>
    <key>public.kern1.yat</key>
    <array>
      <string>uni2D5C</string>
    </array>
    <key>public.kern1.yath</key>
    <array>
      <string>uni2D33</string>
      <string>uni2D34</string>
      <string>uni2D35</string>
      <string>uni2D45</string>
      <string>uni2D5D</string>
    </array>
    <key>public.kern1.yay</key>
    <array>
      <string>uni2D62</string>
    </array>
    <key>public.kern1.yey</key>
    <array>
      <string>uni2D3B</string>
      <string>uni2D67</string>
    </array>
    <key>public.kern1.yu</key>
    <array>
      <string>uni2D53</string>
    </array>
    <key>public.kern1.z</key>
    <array>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
      <string>uni1E93</string>
      <string>zacute.loclPLK</string>
    </array>
    <key>public.kern1.zero</key>
    <array>
      <string>zero</string>
    </array>
    <key>public.kern2.6</key>
    <array>
      <string>six</string>
      <string>eight</string>
      <string>nine</string>
    </array>
    <key>public.kern2.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>AE</string>
      <string>uni2D37</string>
      <string>uni2D60</string>
      <string>slash</string>
    </array>
    <key>public.kern2.B</key>
    <array>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>uni0156</string>
    </array>
    <key>public.kern2.Eopen</key>
    <array>
      <string>uni0190</string>
    </array>
    <key>public.kern2.Eth</key>
    <array>
      <string>Dcroat</string>
      <string>Eth</string>
    </array>
    <key>public.kern2.H</key>
    <array>
      <string>B</string>
      <string>D</string>
      <string>Dcaron</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>uni1EBC</string>
      <string>F</string>
      <string>H</string>
      <string>Hbar</string>
      <string>uni1E24</string>
      <string>K</string>
      <string>uni0136</string>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>uni013B</string>
      <string>Ldot</string>
      <string>Lslash</string>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>uni0145</string>
      <string>Ntilde</string>
      <string>Eng</string>
      <string>P</string>
      <string>Thorn</string>
      <string>uni1E9E</string>
      <string>uni013B.loclMAH</string>
      <string>uni0145.loclMAH</string>
      <string>Nacute.loclPLK</string>
      <string>F_i.liga</string>
      <string>F_j.liga</string>
      <string>b</string>
      <string>h</string>
      <string>uni1E25</string>
      <string>k</string>
      <string>uni0137</string>
      <string>thorn</string>
      <string>germandbls</string>
      <string>l.ss01</string>
      <string>lacute.ss01</string>
      <string>lcaron.ss01</string>
      <string>uni013C.ss01</string>
      <string>ldot.ss01</string>
      <string>uni2D39</string>
      <string>uni2D4D</string>
      <string>uni2D4D.ss01</string>
    </array>
    <key>public.kern2.I</key>
    <array>
      <string>I</string>
      <string>IJ</string>
      <string>Iacute_J.loclNLD</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Itilde</string>
      <string>I_J.loclNLD</string>
    </array>
    <key>public.kern2.M</key>
    <array>
      <string>M</string>
    </array>
    <key>public.kern2.N</key>
    <array>
      <string>thorn.ss01</string>
    </array>
    <key>public.kern2.O</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Cdotaccent</string>
      <string>uni018F</string>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcaron</string>
      <string>uni0122</string>
      <string>Gdotaccent</string>
      <string>uni1E20</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Otilde</string>
      <string>OE</string>
      <string>Q</string>
      <string>Cacute.loclPLK</string>
      <string>Oacute.loclPLK</string>
    </array>
    <key>public.kern2.Oslash</key>
    <array>
      <string>Oslash</string>
    </array>
    <key>public.kern2.S</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>uni0218</string>
      <string>uni1E62</string>
      <string>Sacute.loclPLK</string>
      <string>dollar</string>
    </array>
    <key>public.kern2.T</key>
    <array>
      <string>T</string>
      <string>Tbar</string>
      <string>Tcaron</string>
      <string>uni0162</string>
      <string>uni021A</string>
      <string>uni1E6C</string>
      <string>T_T.liga</string>
      <string>T_h.liga</string>
      <string>T_i.liga</string>
    </array>
    <key>public.kern2.TM</key>
    <array>
      <string>registered</string>
      <string>trademark</string>
    </array>
    <key>public.kern2.U</key>
    <array>
      <string>U</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Utilde</string>
    </array>
    <key>public.kern2.V</key>
    <array>
      <string>V</string>
      <string>uni0194</string>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
      <string>V_i.liga</string>
      <string>W_i.liga</string>
      <string>uni2D38</string>
      <string>backslash</string>
    </array>
    <key>public.kern2.X</key>
    <array>
      <string>X</string>
    </array>
    <key>public.kern2.Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
      <string>uni1EF8</string>
      <string>yen</string>
    </array>
    <key>public.kern2.Z</key>
    <array>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
      <string>uni1E92</string>
      <string>Zacute.loclPLK</string>
    </array>
    <key>public.kern2.a</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>atilde</string>
      <string>d</string>
      <string>dcaron</string>
      <string>dcroat</string>
      <string>uni1E0D</string>
      <string>gbreve</string>
      <string>gcaron</string>
      <string>uni0123</string>
      <string>gdotaccent</string>
      <string>uni1E21</string>
      <string>q</string>
    </array>
    <key>public.kern2.a2</key>
    <array>
      <string>a.ss01</string>
      <string>aacute.ss01</string>
      <string>abreve.ss01</string>
      <string>acircumflex.ss01</string>
      <string>adieresis.ss01</string>
      <string>agrave.ss01</string>
      <string>amacron.ss01</string>
      <string>aogonek.ss01</string>
      <string>aring.ss01</string>
      <string>atilde.ss01</string>
    </array>
    <key>public.kern2.a3</key>
    <array>
      <string>a.ss02</string>
      <string>aacute.ss02</string>
      <string>abreve.ss02</string>
      <string>acircumflex.ss02</string>
      <string>adieresis.ss02</string>
      <string>agrave.ss02</string>
      <string>amacron.ss02</string>
      <string>aogonek.ss02</string>
      <string>aring.ss02</string>
      <string>atilde.ss02</string>
      <string>a.ss03</string>
      <string>aacute.ss03</string>
      <string>abreve.ss03</string>
      <string>acircumflex.ss03</string>
      <string>adieresis.ss03</string>
      <string>agrave.ss03</string>
      <string>amacron.ss03</string>
      <string>aogonek.ss03</string>
      <string>aring.ss03</string>
      <string>atilde.ss03</string>
    </array>
    <key>public.kern2.ae</key>
    <array>
      <string>ae</string>
    </array>
    <key>public.kern2.apostrophe</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern2.b</key>
    <array>
      <string>b.ss01</string>
    </array>
    <key>public.kern2.c</key>
    <array>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>cdotaccent</string>
      <string>cacute.loclPLK</string>
    </array>
    <key>public.kern2.cir</key>
    <array>
      <string>Pintadera02</string>
      <string>pintadera04</string>
    </array>
    <key>public.kern2.dot</key>
    <array>
      <string>comma</string>
    </array>
    <key>public.kern2.dp</key>
    <array>
      <string>p.ss01</string>
    </array>
    <key>public.kern2.e</key>
    <array>
      <string>e</string>
      <string>eacute</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>uni1EBD</string>
      <string>oe</string>
      <string>oacute.loclPLK</string>
      <string>d.ss01</string>
      <string>dcaron.ss01</string>
      <string>dcroat.ss01</string>
    </array>
    <key>public.kern2.eopen</key>
    <array>
      <string>uni025B</string>
    </array>
    <key>public.kern2.f</key>
    <array>
      <string>f</string>
      <string>f_f.liga</string>
      <string>f_f_i.liga</string>
      <string>f_i.liga</string>
    </array>
    <key>public.kern2.fraction</key>
    <array>
      <string>uni2D43</string>
      <string>fraction</string>
    </array>
    <key>public.kern2.g</key>
    <array>
      <string>g</string>
    </array>
    <key>public.kern2.g1</key>
    <array>
      <string>g.ss02</string>
      <string>gbreve.ss02</string>
      <string>uni0123.ss02</string>
      <string>gdotaccent.ss02</string>
    </array>
    <key>public.kern2.guion</key>
    <array>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
    </array>
    <key>public.kern2.idot</key>
    <array>
      <string>i</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>i.loclTRK</string>
      <string>igrave</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>itilde</string>
      <string>ij</string>
      <string>i_j.loclNLD</string>
    </array>
    <key>public.kern2.igual</key>
    <array>
      <string>equal</string>
      <string>notequal</string>
    </array>
    <key>public.kern2.l</key>
    <array>
      <string>l</string>
      <string>lacute</string>
      <string>lcaron</string>
      <string>uni013C</string>
      <string>ldot</string>
      <string>lslash</string>
      <string>uni013C.loclMAH</string>
    </array>
    <key>public.kern2.n</key>
    <array>
      <string>dotlessi</string>
      <string>m</string>
      <string>n</string>
      <string>nacute</string>
      <string>ncaron</string>
      <string>uni0146</string>
      <string>ntilde</string>
      <string>eng</string>
      <string>p</string>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>uni0157</string>
      <string>uni1E5B</string>
      <string>uni0146.loclMAH</string>
      <string>nacute.loclPLK</string>
    </array>
    <key>public.kern2.o</key>
    <array>
      <string>c</string>
      <string>uni0259</string>
      <string>o</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>otilde</string>
      <string>eacute_point_e.dlig</string>
    </array>
    <key>public.kern2.oslash</key>
    <array>
      <string>oslash</string>
    </array>
    <key>public.kern2.punto</key>
    <array>
      <string>period</string>
    </array>
    <key>public.kern2.s</key>
    <array>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>uni0219</string>
      <string>uni1E63</string>
      <string>sacute.loclPLK</string>
    </array>
    <key>public.kern2.saltillo</key>
    <array>
      <string>uniA78B</string>
      <string>uniA78C</string>
    </array>
    <key>public.kern2.t</key>
    <array>
      <string>t</string>
      <string>tbar</string>
      <string>tcaron</string>
      <string>uni0163</string>
      <string>uni021B</string>
      <string>uni1E6D</string>
      <string>t.ss01</string>
      <string>tbar.ss01</string>
      <string>tcaron.ss01</string>
      <string>uni0163.ss01</string>
      <string>uni021B.ss01</string>
      <string>uni1E6D.ss01</string>
      <string>t.ss03</string>
      <string>tbar.ss03</string>
      <string>tcaron.ss03</string>
      <string>uni0163.ss03</string>
      <string>uni021B.ss03</string>
      <string>uni1E6D.ss03</string>
    </array>
    <key>public.kern2.tri</key>
    <array>
      <string>Pintadera01</string>
      <string>pintadera05</string>
    </array>
    <key>public.kern2.u</key>
    <array>
      <string>u</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>utilde</string>
      <string>y.ss03</string>
      <string>yacute.ss03</string>
      <string>ycircumflex.ss03</string>
      <string>ydieresis.ss03</string>
      <string>ygrave.ss03</string>
    </array>
    <key>public.kern2.uno</key>
    <array>
      <string>one</string>
    </array>
    <key>public.kern2.v</key>
    <array>
      <string>uni0263</string>
      <string>v</string>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ygrave</string>
      <string>uni1EF9</string>
    </array>
    <key>public.kern2.x</key>
    <array>
      <string>x</string>
    </array>
    <key>public.kern2.ya</key>
    <array>
      <string>uni2D30</string>
    </array>
    <key>public.kern2.yaf</key>
    <array>
      <string>uni2D3C</string>
      <string>uni2D4A</string>
    </array>
    <key>public.kern2.yaj</key>
    <array>
      <string>uni2D36</string>
    </array>
    <key>public.kern2.yar</key>
    <array>
      <string>uni2D31</string>
      <string>uni2D32</string>
      <string>uni2D40</string>
      <string>uni2D41</string>
      <string>uni2D54</string>
      <string>uni2D55</string>
      <string>uni2D59</string>
      <string>uni2D5A</string>
      <string>uni2D5B</string>
      <string>uni2D5E</string>
    </array>
    <key>public.kern2.yat</key>
    <array>
      <string>uni2D5C</string>
    </array>
    <key>public.kern2.yath</key>
    <array>
      <string>uni2D33</string>
      <string>uni2D34</string>
      <string>uni2D35</string>
      <string>uni2D45</string>
      <string>uni2D5D</string>
    </array>
    <key>public.kern2.yay</key>
    <array>
      <string>uni2D62</string>
    </array>
    <key>public.kern2.yey</key>
    <array>
      <string>uni2D3B</string>
      <string>uni2D67</string>
    </array>
    <key>public.kern2.yu</key>
    <array>
      <string>uni2D53</string>
    </array>
    <key>public.kern2.z</key>
    <array>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
      <string>uni1E93</string>
      <string>zacute.loclPLK</string>
    </array>
    <key>public.kern2.zero</key>
    <array>
      <string>zero</string>
    </array>
  </dict>
</plist>
